:root {
    --rs-theme-1: #064635;
    --rs-theme-2: #F8CA38;
    --rs-title-color: #010F1C;
    --rs-body-color: #687179;
    --rs-body-color-2: #BCBCBC;
    --rs-body-color-3: #EEEFFF;
    --rs-bg-color: #F4F4F4;
    --rs-border-color: #E6E6E6;
    --rs-white: #fff;
    --rs-white-01: rgba(255, 255, 255, 0.1);
    --rs-white-02: rgba(255, 255, 255, 0.2);
    --rs-white-05: rgba(255, 255, 255, 0.5);
    --rs-black: #000;
    --rs-smoke: #F8FAE0;
    --rs-smoke-2: #D9E2E0;
    --rs-smoke-alpha: rgba(217, 226, 224, 0.35);
    --rs-red: #FF0202;



}