@use '../../utils' as *;

/*----------------------------------------*/
/*  30. Partner CSS START
/*----------------------------------------*/

.rs_service {
    &-items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        @media #{$lg, $md, $xs} {
            justify-content: center;

        }
    }

    &-icon {
        width: 85px;
        height: 85px;
        border-radius: 50px;
        background: var(--rs-body-color-3);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    &-title {
        color: var(--rs-title-color);
        font-family: var(--rs-ff-Signika);
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 8px;

        &:hover {
            color: var(--rs-theme-1);

        }
    }

    &-info {
        color: var(--rs-body-color);
        font-family: var(--rs-ff-roboto);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

}





.rs_partner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background: #fff;
    border-radius: 20px;
    padding: 25px 60px;
    box-shadow: 0px 24px 114px 0px rgba(117, 117, 117, 0.04),
        0px 10px 34px 0px rgba(90, 90, 90, 0.10);

    @media #{$xs} {
        margin: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px 15px;

    }

    @media #{$md} {
        justify-content: start;

        .rs_partner_item {
            margin-right: 25px;
        }
    }
}

.rs_partner_title {
    color: var(--primary-color, #064635);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.rs_partner_info {
    color: var(--Body-color, #687179);
    font-size: 14px;
    font-weight: 400;

}




.rs_partner_area {
    margin-bottom: -80px;
}